/* Common styles for all pages */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #34070c;
    color: white;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
    
}

main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

/* Home Page specific styles */

.home .intro {
    flex: 1; /* Occupy 50% of the left side */
    padding-right: 20px; /* Add spacing between text and image */
}

.home .image {
    flex: 1; /* Occupy 50% of the right side */
    text-align: center;
}

.home .image img {
    max-width: 100%; /* Make the image responsive */
    height: auto;
    max-height: 500px; /* Limit the image height, adjust as needed */
}    

/* About Page specific styles */
.about .about-content {
    background-color: #333;
    padding: 20px;
    border-radius: 5px;
}

/* Contact Page specific styles */
.contact .contact-info {
    flex: 1;
    text-align: center;
}

.contact .contact-info img {
    max-width: 100%;
    border-radius: 5px;
}

.contact .contact-info .info {
    margin-top: 20px;
}

.contact .contact-form {
    flex: 2;
    padding: 20px;
    background-color: #333;
    border-radius: 5px;
    margin-left: 20px;
}

.contact .contact-form form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact .contact-form .form-group {
    margin-bottom: 15px;
}

.contact .contact-form label {
    font-weight: bold;
}

.contact .contact-form textarea,
.contact .contact-form input[type="email"] {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-top: 5px;
}

.contact .contact-form #send-button {
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}



/* Style the header */
header {
    background-color: #333;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    
}

/* Style the nav */
nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

nav li {
    margin-right: 20px; 
}

nav a {
    text-decoration: none;
    color: white;
}


nav {
    margin-left: auto; 
    margin-top: 20px;
}
